
.config/zsh/.zsh_sessions
.config/zsh/.zcompcache
.config/nvim/plugin/packer_compiled.lua
.config/zsh/.zsh_history
.config/karabiner/automatic_backups
Brewfile.lock.json

.config/zed/embeddings
.config/zed/.tmp*
