# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Kubilay Erdogan
	email = 1839554+kublaios@users.noreply.github.com
	signingkey = 55D41FEE4CC8FD2E
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
